USE [master]
GO
/****** Object:  Database [FFdb]    Script Date: 2/19/2025 1:15:39 PM ******/
CREATE DATABASE [FFdb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FFdb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\FFdb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'FFdb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\FFdb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FFdb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FFdb]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 2/19/2025 1:15:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[userName] [nvarchar](10) NULL,
	[passWord] [nvarchar](30) NULL,
	[email] [nvarchar](30) NULL,
	[department] [nvarchar](50) NULL,
	[Name] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Employees] ON 

INSERT [dbo].[Employees] ([id], [userName], [passWord], [email], [department], [Name]) VALUES (1, N'john1234', N'password123', N'john1234@fjernvarmefyn.dk', N'Administration', N'John Doe')
INSERT [dbo].[Employees] ([id], [userName], [passWord], [email], [department], [Name]) VALUES (2, N'alice5678', N'securePass456', N'alice5678@fjernvarmefyn.dk', N'IT', N'Alice Jensen')
INSERT [dbo].[Employees] ([id], [userName], [passWord], [email], [department], [Name]) VALUES (3, N'mikk1234', N'mypassword789', N'mikk1234@fjernvarmefyn.dk', N'Administration', N'Mikkel Pedersen')
SET IDENTITY_INSERT [dbo].[Employees] OFF
GO
USE [master]
GO
